/* Reset some default browser styles */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}
.tem {
  color: #ffffff;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.search-bar {
  margin-top: 40px;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  font-weight: 300;
}

main {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.weather-container {
  color: white;
  padding: 20px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  flex: 1; /* Take up remaining space */
}

.weather-icon {
  margin-left: 20px; /* Add spacing between weather info and icon */
}

.weather-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.weather-card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.weather-card p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.weather-icon {
  font-size: 4rem;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forecast-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.forecast-item {
  flex: 1; /* Equal width for each forecast item */
  text-align: center; /* Center align content */
  padding: 10px; /* Adjust spacing */
}
.separator-line {
  margin: 20px 0;
  border: 1px solid rgba(204, 204, 204, 0.5);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    padding: 15px; /* Adjusted padding */
    margin-bottom: 15px; /* Adjusted margin */
  }

  .weather-card {
    padding: 15px;
  }

  .weather-card h2 {
    font-size: 1.8rem;
  }

  .weather-card p {
    font-size: 1.2rem;
  }

  .weather-icon {
    font-size: 3rem;
  }

  .forecast-container {
    flex-direction: column; /* Stack forecast items vertically */
  }

  .forecast-item {
    padding: 10px 0; /* Adjust padding for better spacing */
  }
}
